.inputGroup input[type="number"] {
  text-align: center !important;
  appearance: textfield;
  -moz-appearance: textfield;
}

.inputGroup input[type="number"]::-webkit-outer-spin-button,
.inputGroup input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 